<h1>Merchant Dashboard</h1>

<h2><%= @merchant.name %></h2>
<br>
<%= link_to "My Items Index", "/merchants/#{@merchant.id}/items" %>
<%= link_to "My Invoices Index", "/merchants/#{@merchant.id}/invoices" %>
